<div class="container">
  <app-home></app-home>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 25rem;">
        <img src="../../assets/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">hallo</h5>
          <p class="card-text">my</p>
          <p class="card-text">friend</p>
          <button href="#" class="btn btn-primary">likeme</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 25rem;">
        <img src="../../assets/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">hallo</h5>
          <p class="card-text">my</p>
          <p class="card-text">friend</p>
          <button href="#" class="btn btn-primary">likeme</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 25rem;">
        <img src="../../assets/img.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">hallo</h5>
          <p class="card-text">my</p>
          <p class="card-text">friend</p>
          <button href="#" class="btn btn-primary">likeme</button>
        </div>
      </div>
    </div>
  </div>
</div>