<div class="col-md-1">
  <div class="card" style="width: 18rem;">
    <img src="../../assets/nice.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.price}}</p>
      <p class="card-text">{{product.quantity}}</p>
      <button href="#" class="btn btn-primary">like :3</button>
    </div>
  </div>
</div>
<!-- <div class="col">
  <img src="../../assets/img.jpg" alt="">
</div> -->
<!-- <div class="col" style="border:1px solid red;">Column1</div> -->